
<html>
<head>
    <title>出行向导 | 客运服务 | 铁路客户服务中心</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/JQuery/JS/zwdch.js"></script>
    <script src="~/JQuery/JS/Travelguide.js"></script>
    <link href="~/css/zwdch.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/ico/favicon.ico">
</head>
<!--正晚点查询-->
<body>
    @*查询结果弹窗*@
    @*<div id="dialog_result" style="display: none;">
        <div class="mark"></div>
        <div class="up-box">
            <div class="up-box-hd">
                正晚点查询结果<a id="dialog_result_close" href="javascript:" shape="rect">关闭</a>
            </div>
            <div class="up-box-bd">
                <div class="up-con clearfix">
                    <span class="icon i-win"></span>
                    <div class="r-txt">
                        <div class="tit" id="result_div">
                            K604次列车，正点到达霍州站的时间为<span class="colorA">15:45</span>
                            ，列车正点到达
                        </div>
                    </div>
                </div>
                <div class="lay-btn">
                    <a href="javascript:" id="dialog_result_ok" class="btn92s" shape="rect">确认</a>
                </div>
            </div>
        </div>
    </div>*@
    <!--header start-->
    <div class="header">
        <div class="header-bd">
            <a href="/Main/Main">
                <h1 class="logo">江苏客运客户服务中心-客运中心</h1>
            </a>
            <div class="login-info">
                <div class="phone-link">
                    <a href="/appDownload/appDownload" target="true">手机版</a>
                </div>
                <div class="menu">
                    <a href="/My12306/My12306" class="menu-bd" id="js-my">
                        我的12306<b></b>
                    </a>
                    <div class="menu-list" style="display: none;">
                        <b></b>
                        <ul>
                            <li>
                                <a href="/My12306/initNoComplete">未完成订单</a>
                            </li>
                            <li>
                                <a href="/My12306/queryOrder">已完成订单(改/退)</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/My12306/insurance">我的保险</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/My12306/initQueryUserInfo">查看个人信息</a>
                            </li>
                            <li>
                                <a href="/My12306/userSecurity">账户安全</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/My12306/passengers">常用联系人</a>
                            </li>
                            <li>
                                <a href="/My12306/address">车票快递地址</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/My12306/qxyyInfo">重点旅客预约</a>
                            </li>
                            <li>
                                <a href="/My12306/lostInfo">遗失物品查找</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="login-txt" style="color: #666666">
                    <span>
                        意见反馈:<a class="cursor colorA" href="#">12306yjfk@rails.com.cn</a>
                        您好，请
                    </span>
                    <a id="login_user" href="/Main/Login" class="colorA" style="margin-left:-0.5px;">登录</a>
                    | <a id="regist_out" href="/Main/register">注册</a>
                </span>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/Main/Main" class="">客运首页</a>
                    </li>
                    <li id="selectYuding">
                        <a href="/Buyticket/TicketBook" class="">车票预订</a>
                    </li>
                    <li>
                        <a href="/Buyticket/TicketSelect" class="">余票查询</a>
                    </li>
                    <li style="width: 71px;" id="js-xd" class="nav-guide">
                        <a href="javascript:" class="current">出行向导</a>
                        <div class="nav-list" style="display: block;">
                            <ul style="font-weight:normal">
                                <li>
                                    <a href="/Travelguide/queryTrainInfo">车次查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/leftTicketPrice">票价查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/czxxcx">车站车次查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/zzzcx">中转查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/zwdch" class="on">正晚点查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/Travelguide" >代售点查询</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="selectHelp">
                        <a href="/Information/Infor" class="">信息服务</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--页面主体  开始-->
    <div class="content">
        <div class="line30"></div>
        <!--正晚点查询 开始-->
        <form action="" id="_queryForm" method="get" enctype="application/x-www-form-urlencoded">
            <div class="lay-zwd">
                <ul>
                    <li>
                        <span class="label">查询类型</span>
                        <div class="r-txt">
                            <span class="mr15">
                                <input id="radio_cxlx0" name="cxlx" value="0" type="radio" class="radio" checked="checked" style="cursor: pointer;">
                                <label for="radio_cxlx0" id="label_cxlx0">到达站</label>
                            </span>
                            <span>
                                <input id="radio_cxlx1" name="cxlx" value="1" type="radio" class="radio" style="cursor: pointer;">
                                <label for="radio_cxlx1" id="label_cxlx1">出发站</label>
                            </span>
                        </div>
                    </li>
                    <li>
                        <span class="label">
                            <b>*</b>
                            车站
                        </span>
                        <div class="r-txt">
                            <input name="cz" id="cd_codeText" type="text" value="简拼/全拼/汉字" class="inptxt w150" style="height: 32px;width: 152px;">
                            <input name="cd_code" id="cd_code" type="hidden">
                        </div>
                    </li>
                    <li>
                        <span class="label">
                            <b>*</b>
                            车次
                        </span>
                        <div class="r-txt" id="train_combo_box_div">
                            <input class="inptxt w150" id="train_combo_box" style="float: left;color:#333;">
                        </div>
                        <label id="label4cc" class="error" style="margin-left: 25px;display: none;"></label>
                    </li>
                    <li id="randCodeLi" style="">
                        <span class="label">
                            <b>*</b>
                            验证码
                        </span>
                        <div class="r-txt yzm">
                            <input maxlength="4" autocomplete="off" name="randCode" id="randCode" type="text" class="inptxt w70 color333">
                            <span class="img">
                                <img src="/Travelguide/Page_zwdch" onclick="getImage()" title="单击刷新验证码" id="img_rand_code" style="cursor: pointer;">
                            </span>
                            <span class="i-re" onclick="getImage()" title="单击刷新验证码" id="img_rand_code2"></span>
                            <span id="i-ok" class="tips"></span>
                        </div>
                    </li>
                </ul>
                <div class="lay-btn">
                    <a id="_a_search_btn" href="javascript:$._to_search()" class="btn122s" shape="rect">查询</a>
                </div>
            </div>
        </form>
        <!--正晚点查询 结束-->
        <div class="tips-txt">
            <div class="zwd-result" style="display: none">
                <strong>K604</strong>
                次列车，正点到达霍州站的时间为<span class="colorA">15:45</span>
                ，列车正点到达 。
            </div>
            <h2>使用说明：</h2>
            <p>1.本查询提供未来3小时内列车正晚点信息。</p>
            <p>2.车站输入支持简拼/全拼/汉字输入，例如:[北京]-&gt;BJ。</p>
            <p>3.本功能及查询结果仅作为参考，准确信息以车站公告为准。</p>
        </div>
    </div>
    <!--页面主体  结束-->
    <!--页面底部  开始-->
    <div class="footer">
        <p>
            <a href="#" target="true">关于我们</a>
            |<a href="#" target="true">网站声明</a>
        </p>
        <p>版权所有©2008-2015启航工作室&nbsp;&nbsp;南粤新起点软件学院</p>
        <p>京ICP备10009636号</p>
    </div>
    <!--页面底部  结束-->
    <!-- 检索车站下拉框 -->
    <div id="search_div" style="z-index: 1000; position: absolute;">
        <div id="form_cities">
            <div id="top_cities">简码/汉字</div>
            <div id="panel_cities">
                <div class="citylineover" id="citem_0" cturn="0" style="background-color: rgb(200, 227, 252);"><span class="ralign">北京北</span></div>
                <div class="cityline" id="citem_1" cturn="1"><span class="ralign">北京东</span></div>
                <div class="cityline" id="citem_2" cturn="2"><span class="ralign">北京</span></div>
                <div class="cityline" id="citem_3" cturn="3"><span class="ralign">北京南</span></div>
                <div class="cityline" id="citem_4" cturn="4"><span class="ralign">北京西</span></div>
                <div class="cityline" id="citem_5" cturn="5"><span class="ralign">广州南</span></div>
            </div>
            <div id="flip_cities" style="display: block;"><span style="float:left;">«&nbsp;向前</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float:right;cursor:pointer" href="" class="cityflip" onclick="$.stationFor12306.city_showlist(1);return false;">向后&nbsp;»</a></div>
        </div>
    </div>
    <!-- 选择车站下拉框 -->
    <div id="choice_div" style="z-index: 2000; position: absolute;">
        <div id="form_cities2">
            <div id="panel_cities2"><div class="com_hotresults" id="thetable" style="width:370px"><div style="width:100%;"><div class="ac_title"><span>拼音支持首字母输入</span><a class="ac_close" style="cursor:pointer" title="关闭" onclick="$.stationFor12306.closeShowCity()"></a></div><ul class="AbcSearch clx" id="abc"><li index="1" method="liHotTab" onclick="$.stationFor12306.js(1)" id="nav_list1">热门</li><li index="2" method="liHotTab" onclick="$.stationFor12306.js(2)" id="nav_list2">A－E</li><li index="3" method="liHotTab" onclick="$.stationFor12306.js(3)" id="nav_list3">F－J</li><li index="4" method="liHotTab" onclick="$.stationFor12306.js(4)" id="nav_list4">K－O</li><li index="5" method="liHotTab" onclick="$.stationFor12306.js(5)" id="nav_list5">P－T</li><li index="6" method="liHotTab" onclick="$.stationFor12306.js(6)" id="nav_list6">U－Z</li></ul><ul class="popcitylist" style="overflow: auto;max-height: 280px;height: 191px;display:none;" method="hotData" id="ul_list1"><li class="ac_even openLi" title="北京" data="BJP">北京</li><li class="ac_even openLi" title="上海" data="SHH">上海</li><li class="ac_even openLi" title="天津" data="TJP">天津</li><li class="ac_even openLi" title="重庆" data="CQW">重庆</li><li class="ac_even openLi" title="长沙" data="CSQ">长沙</li><li class="ac_even openLi" title="长春" data="CCT">长春</li><li class="ac_even openLi" title="成都" data="CDW">成都</li><li class="ac_even openLi" title="福州" data="FZS">福州</li><li class="ac_even openLi" title="广州" data="GZQ">广州</li><li class="ac_even openLi" title="贵阳" data="GIW">贵阳</li><li class="ac_even openLi" title="呼和浩特" data="HHC">呼和浩特</li><li class="ac_even openLi" title="哈尔滨" data="HBB">哈尔滨</li><li class="ac_even openLi" title="合肥" data="HFH">合肥</li><li class="ac_even openLi" title="杭州" data="HZH">杭州</li><li class="ac_even openLi" title="海口" data="VUQ">海口</li><li class="ac_even openLi" title="济南" data="JNK">济南</li><li class="ac_even openLi" title="昆明" data="KMM">昆明</li><li class="ac_even openLi" title="拉萨" data="LSO">拉萨</li><li class="ac_even openLi" title="兰州" data="LZJ">兰州</li><li class="ac_even openLi" title="南宁" data="NNZ">南宁</li><li class="ac_even openLi" title="南京" data="NJH">南京</li><li class="ac_even openLi" title="南昌" data="NCG">南昌</li><li class="ac_even openLi" title="沈阳" data="SYT">沈阳</li><li class="ac_even openLi" title="石家庄" data="SJP">石家庄</li><li class="ac_even openLi" title="太原" data="TYV">太原</li><li class="ac_even openLi" title="乌鲁木齐南" data="WMR">乌鲁木齐南</li><li class="ac_even openLi" title="武汉" data="WHN">武汉</li><li class="ac_even openLi" title="西宁" data="XNO">西宁</li><li class="ac_even openLi" title="西安" data="XAY">西安</li><li class="ac_even openLi" title="银川" data="YIJ">银川</li><li class="ac_even openLi" title="郑州" data="ZZF">郑州</li><li class="ac_even openLi" title="深圳" data="SZQ">深圳</li><li class="ac_even openLi" title="厦门" data="XMS">厦门</li></ul><ul class="popcitylist" style="overflow: auto; max-height: 260px; height: 170px;display:none;" id="ul_list2"></ul><ul class="popcitylist" style="overflow: auto; max-height: 260px; height: 170px;display:none;" id="ul_list3"></ul><ul class="popcitylist" style="overflow: auto; max-height: 260px; height: 170px;display:none;" id="ul_list4"></ul><ul class="popcitylist" style="overflow: auto; max-height: 260px; height: 170px;display:none;" id="ul_list5"></ul><ul class="popcitylist" style="overflow: auto; max-height: 260px; height: 170px;display:none;" id="ul_list6"></ul><div id="flip_cities2" style="display: none;"> 翻页控制区</div></div></div></div>
        </div>
    </div>
    
    <a href="#" id="_return_top" class="return-top" title="返回顶部" style="display: none; position: fixed; bottom: 30px; right: 30px;"></a>
</body>
</html>

