@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>我的Ticket | 客运服务 | 公路客户服务中心</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/userSecurity.css" rel="stylesheet" />
    <link href="~/css/queryOrder.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/ico/favicon.png">
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/userSecurity/getsafeEmail",
                type: "get",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (key, data) {
                        alert(data.email);

                    })
                }
            })


        });

    </script>
</head>
<!--账号安全 安全邮箱-->
<body class="dhtmlx_winviewport  dhtmlx_winviewport dhtmlx_skin_dhx_terrace">
    <div class="up-box" id="dialog_succ" style="display: none;">
        <div class="up-box-hd">
            温馨提示<a href="#nogo" id="dialog_succ_close" shape="rect">关闭</a>
        </div>
        <div class="up-box-bd">
            <div class="up-con clearfix">
                <span class="icon i-win"></span>
                <div class="r-txt">
                    <div class="tit" id="_show_text">邮箱修改成功，已发送验证链接到您的新邮箱XXX@163.com!</div>
                    <p>请进入邮箱并按提示重新验证安全邮箱。</p>
                </div>
            </div>
            <div class="lay-btn">
                <a href="#nogo" class="btn92" id="dialog_succ_cancel" shape="rect">取消</a>
                <a href="#" class="btn92s" id="dialog_succ_ok" shape="rect">确认</a>
            </div>
        </div>
    </div>

    <div class="up-box" id="dialog_sendEmail_succ" style="display: none;">
        <div class="up-box-hd">
            温馨提示<a href="#nogo" id="dialog_sendEmail_close" shape="rect">关闭</a>
        </div>
        <div class="up-box-bd">
            <div class="up-con clearfix">
                <span class="icon i-win"></span>
                <div class="r-txt">
                    <div class="tit">邮箱已成功验证，请您重新登录。</div>
                </div>
            </div>
            <div class="lay-btn">
                <a href="#" class="btn92s" id="dialog_sendEmail_ok" shape="rect">立即登录</a>
            </div>
        </div>
    </div>

    <!--页面主体  开始-->
    <div class="content clearfix">
        <!--当前位置 开始-->
        @*<div class="crumbs">
                您现在的位置：<a href="/otn/index/init" shape="rect">客运首页</a>
                &nbsp;&gt;&nbsp;<a href="/otn/index/initMyTicket" shape="rect">我的Ticket</a>
                &nbsp;&gt;&nbsp;<a href="/otn/modifyUser/initQueryUserInfo" shape="rect">个人信息</a>
                &nbsp;&gt;&nbsp;<a href="/otn/userSecurity/init" shape="rect">账号安全</a>
                &nbsp;&gt;&nbsp;<strong>安全邮箱</strong>
            </div>*@
        <!--当前位置 结束-->
        <!--右侧主体 开始-->
        <div class="main">
            <!--系统信息 开始-->
            <div class="layout order">
                <div class="lay-hd">账号安全</div>
                <div class="lay-bd">
                    <form id="_editSafeEmail" method="get" enctype="application/x-www-form-urlencoded" novalidate="novalidate">
                        <div class="safe">
                            <h2>安全邮箱</h2>
                            <ul class="safe-list">
                                <li>
                                    <div class="label">原电子邮箱：</div>
                                    <div class="r-txt">1319000861@qq.com</div>
                                </li>
                                <li>
                                    <div class="label">新电子邮箱：</div>
                                    <div class="r-txt">
                                        <ul class="emailist" style="position: absolute; margin-top: 30px; min-width: 200px; visibility: hidden; z-index: 11;"></ul><input name="_email" id="_email" type="text" class="inptxt w200 color333  inp-transform" value="" autocomplete="off">
                                    </div>
                                    <div class="tips">请输入新电子邮箱</div>
                                </li>
                                <li class="line"></li>
                                <li>
                                    <div class="label">
                                        <span class="required">*</span>
                                        登录密码：
                                    </div>
                                    <div class="r-txt">
                                        <input name="_loginPwd" id="_loginPwd" type="password" class="inptxt w200 color333" value="">
                                    </div>
                                    <div class="tips">正确输入密码才能修改个人资料</div>
                                </li>
                                <li>
                                    <div class="label">
                                        <span class="required">*</span>
                                        请填写手机验证码：
                                    </div>
                                    <div class="r-txt">
                                        <input maxlength="6" onkeypress="return $.isNum(event)" type="text" id="mobile_randcode" name="mobileRandcode" class="inptxt w200 inp-transform">
                                    </div>
                                    <div class="r-txt tc" style="margin-left: 5px" id="get_mobile_randcode">
                                        <a onclick="$.getMobileRandCode('2');" href="javascript:void(0);" class="btn122" style="margin-left: -90px" shape="rect">获取手机验证码</a>
                                    </div>
                                </li>
                                <li style="display: none;" id="mobile_randcode_error">
                                    <div class="label">
                                        <span class="required"></span>
                                    </div>
                                    <label for="mobile_randcode" class="error"></label>
                                </li>
                                <li>
                                    <div class="label"></div>
                                    <div class="r-txt tips" style="margin-left: 212px;width:300px;">一个用户一天可以获取三次修改邮箱的手机验证码。</div>
                                </li>
                            </ul>
                            <div class="lay-btn">
                                <a href="javascript:$._cancelSubmit();" class="btn92" shape="rect">取消</a>
                                <a href="javascript:$._editSubmit();" id="loginEmail" class="btn92s" shape="rect">登录邮箱</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--系统信息 结束-->
            <div class="tips-txt hide mt10">
                <h2>温馨提示：</h2>
                <p>在互联网购买学生票后，须携带购票时所使用的有效身份证件、附有“学生火车票优惠卡”的学生证（均为原件）和订单号码于列车开车前到安装有学生火车票优惠卡识别器的车站售票窗口或铁路客票代售点换取纸质车票后乘车。 </p>
            </div>
        </div>
        <!--右侧主体 结束-->
    </div>
    <!--页面主体  结束-->




</body>
</html>