@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>登录 | 客运服务 | 公路客户服务中心</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/JQuery/slide-tab.js"></script>
    <link href="~/css/Public.css" rel="stylesheet" />
    <link href="~/css/forgetPassword.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/ico/favicon.png">
</head>
<body class="dhtmlx_winviewport  dhtmlx_winviewport dhtmlx_skin_dhx_terrace">
    <!--header start-->
    <div class="header">
        <div class="header-bd">
            <a href="/Main/Main">
                <h1 class="logo">江苏客运客户服务中心-客运中心</h1>
            </a>
            <div class="login-info">
                <div class="phone-link">
                    <a href="/appDownload/appDownload" target="true">手机版</a>
                </div>
                <div class="menu">
                    <a href="/MyTicket/MyTicket" class="menu-bd" id="js-my">
                        我的Ticket<b></b>
                    </a>
                    <div class="menu-list" style="display: none;">
                        <b></b>
                        <ul>
                            <li>
                                <a href="/MyTicket/initNoComplete">未完成订单</a>
                            </li>
                            <li>
                                <a href="/MyTicket/queryOrder">已完成订单(改/退)</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/MyTicket/insurance">我的保险</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/MyTicket/initQueryUserInfo">查看个人信息</a>
                            </li>
                            <li>
                                <a href="/MyTicket/userSecurity">账户安全</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/MyTicket/passengers">常用联系人</a>
                            </li>
                            <li>
                                <a href="/MyTicket/address">车票快递地址</a>
                            </li>
                            <li class="line"></li>
                            <li>
                                <a href="/MyTicket/qxyyInfo">重点旅客预约</a>
                            </li>
                            <li>
                                <a href="/MyTicket/lostInfo">遗失物品查找</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="login-txt" style="color: #666666">
                    <span>
                        意见反馈:<a class="cursor colorA" href="#">Bus@rails.com.cn</a>
                        您好，请
                    </span>
                    <a id="login_user" href="/Main/Login" class="colorA" style="margin-left:-0.5px;">登录</a>
                    | <a id="regist_out" href="/Main/register">注册</a>
                </span>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="/Main/Main" class="current">客运首页</a>
                    </li>
                    <li id="selectYuding">
                        <a href="/Buyticket/TicketBook" class="">车票预订</a>
                    </li>
                    <li>
                        <a href="/Buyticket/TicketSelect" class="">余票查询</a>
                    </li>
                    <li style="width: 71px;" id="js-xd" class="nav-guide">
                        <a href="javascript:" class="">出行向导</a>
                        <div class="nav-list" style="display: none;">
                            <ul style="font-weight:normal">
                                <li>
                                    <a href="/Travelguide/queryTrainInfo">车次查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/leftTicketPrice">票价查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/queryStationBus">车站车次查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/DrivingTime">车程时间查询</a>
                                </li>
                                <li>
                                    <a href="/Travelguide/Travelguide">代售点查询</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="selectHelp">
                        <a href="/Information/Infor" class="">信息服务</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--header end-->
    <!--页面主体  开始-->
    <div class="content">
        <div class="find-pass">
            <div class="hd">
                <ul>
                    <li id="mobile_find_back_main" style="width: 50%">
                        <span class="phone"></span>
                        手机找回<b></b>
                    </li>
                    <li class="on" id="email_find_back_main" style="width: 50%">
                        <span class="email"></span>
                        邮箱找回<b></b>
                    </li>
                    <!-- li id="title_answer_find_back_main"><span class="answer" ></span>提示问题找回<b></b></li -->
                </ul>
            </div>
            <div class="bd">
                <form id="findPasswordNyMobileRegistForm" method="get" enctype="application/x-www-form-urlencoded">
                    <div class="down" style="display:none;" id="mobile_find_back_page">
                        <div class="find-step find-step1" id="mobile_step">
                            <div class="step-pic"></div>
                            <ul>
                                <li class="step-txt1">填写账户信息</li>
                                <li class="step-txt2">获取验证码</li>
                                <li class="step-txt3">设置新密码</li>
                                <li class="step-txt4">完成</li>
                            </ul>
                        </div>
                        <ul class="reg-list">
                            <li step="1">
                                <div class="label">
                                    <span class="required">*</span>
                                    手机号：
                                </div>
                                <div class="r-txt">
                                    <input maxlength="18" name="userDTO.mobile_no" id="mobile_no" type="text" class="inptxt w200 color333">
                                </div>
                                <div class="tips">已通过核验的手机号码</div>
                            </li>
                            <li step="1">
                                <div class="label">
                                    <span class="required">*</span>
                                    证件类型：
                                </div>
                                <div class="r-txt">
                                    <select name="userDTO.loginUserDTO.id_type_code" id="m_cardType" class="w200" style="width:202px;">
                                        <option value="1">
                                            二代身份证
                                        </option>
                                        <option value="C">
                                            港澳通行证
                                        </option>
                                        <option value="G">
                                            台湾通行证
                                        </option>
                                        <option value="B">
                                            护照
                                        </option>
                                    </select>
                                </div>
                                <div class="tips">请选择证件类型。</div>
                            </li>
                            <li step="1">
                                <div class="label">
                                    <span class="required">*</span>
                                    证件号码：
                                </div>
                                <div class="r-txt">
                                    <input maxlength="18" name="userDTO.loginUserDTO.id_no" id="m_cardCode" type="text" class="inptxt w200 color333">
                                </div>
                                <div class="tips">请输入证件号码。</div>
                            </li>
                            <li id="mypasscode0" data-code_type="findpassword" data-touclick-type="inside" style="display: none"></li>
                            <li>
                                <div class="label">
                                    <span class="required">*</span>验证码：
                                </div>
                                <div class="yzm" style="padding: 0px">
                                    <input type="text" name="randCode" data-targetdiv="mypasscode0" id="randCode_password0" maxlength="4" class="inptxt w100">
                                    <input type="hidden" id="randCode_validate" name="randCode_validate">
                                    <span class="img" id="img-check_password0">
                                        <img style="width: 100%;height: 100%; cursor: pointer;" src="../images/getPassCodeNew(24).jpg" onclick="refreshImg('other','sjrand')" title="单击刷新验证码" id="img_rand_code_password0">
                                    </span>
                                    <span class="i-re" onclick="refreshImg('findpassword','sjrand','password0')" title="单击刷新验证码"></span>
                                </div>
                                <div class="tips">
                                    <span class="icon i-ok i-okmypasscode0" id="i-okmypasscode0" style="display: none;"></span>
                                </div>
                            </li>
                            <label id="error_msgmypasscode0" style="display: none;" class="error error_msgmypasscode0"></label>
                            <li step="2" style="display: none;">
                                <div class="label">
                                    <span class="required">*</span>
                                    手机号：
                                </div>
                                <div class="r-txt" id="check_mobile_num" style="color: orange;"></div>
                                <div class="tips"></div>
                            </li>
                            <li step="2" style="display: none;">
                                <div class="label">
                                    <span class="required">*</span>
                                    请填写手机验证码：
                                </div>
                                <div class="r-txt">
                                    <input maxlength="6" onkeypress="return $.isNum(event)" type="text" id="mobile_randcode" name="mobileRandcode" class="inptxt w200 inp-transform">
                                </div>
                                <div class="r-txt tc" style="margin-left: 5px" id="get_mobile_randcode">
                                    <a onclick="$.getMobileRandCode();" href="javascript:void(0);" class="btn122" shape="rect">获取手机验证码</a>
                                </div>
                            </li>
                            <li step="3" style="display: none;">
                                <div class="label">
                                    <span class="required">*</span>
                                    新密码：
                                </div>
                                <div class="r-txt">
                                    <input type="password" id="m_newPassword" name="userDTO.password_new" class="inptxt w200">
                                </div>
                                <div class="tips">长度不少于6位字符。</div>
                            </li>
                            <li step="3" style="display: none;">
                                <div class="label">
                                    <span class="required">*</span>
                                    密码确认：
                                </div>
                                <div class="r-txt">
                                    <input type="password" id="m_okNewPassword" name="confirmPassWord" class="inptxt w200">
                                </div>
                                <div class="tips">请再次输入密码。</div>
                            </li>
                            <li step="4" style="display: none;">
                                <div class="label"></div>
                                <div class="r-txt" style="color: orange;">
                                    新密码设置成功，您可以使用新密码<a href="/otn/login/init" shape="rect">登录系统</a>
                                    ！
                                </div>
                                <div class="tips"></div>
                            </li>
                            <li>
                                <div class="label"></div>
                                <label></label>
                                <div class="r-txt" id="errorMsg_id" style="color: red;"></div>
                            </li>
                        </ul>
                        <div class="lay-btn captchaButton captchaInsideButton" style="position:relative;height:auto" data-touclick-name="">
                            <a href="javascript:void(0);" id="mobile_back_submit" class="btn122s" shape="rect">提交</a>
                        </div>
                        <p class="tc ft14">
                            手机号未通过核验？试试<a href="javascript:void(0);" id="mobile_find_back" shape="rect">邮箱找回</a>
                        </p>
                    </div>
                </form>
                <form id="findPasswordNyEmailRegistForm" method="get" enctype="application/x-www-form-urlencoded">
                    <div class="down" style="display:block;" id="email_find_back_page">
                        <ul class="reg-list">
                            <li>
                                <div class="label">
                                    <span class="required">*</span>
                                    电子邮件：
                                </div>
                                <div class="r-txt">
                                    <input type="text" id="userEmail" name="userDTO.email" class="inptxt w200 inp-transform">
                                </div>
                                <div class="tips">注册时所填的电子邮箱。</div>
                            </li>
                            <li>
                                <div class="label">
                                    <span class="required">*</span>
                                    证件类型：
                                </div>
                                <div class="r-txt">
                                    <select name="userDTO.loginUserDTO.id_type_code" id="e_cardType" class="w200" style="width:202px;">
                                        <option value="1">
                                            二代身份证
                                        </option>
                                        <option value="C">
                                            港澳通行证
                                        </option>
                                        <option value="G">
                                            台湾通行证
                                        </option>
                                        <option value="B">
                                            护照
                                        </option>
                                    </select>
                                </div>
                                <div class="tips">请选择证件类型。</div>
                            </li>
                            <li>
                                <div class="label">
                                    <span class="required">*</span>
                                    证件号码：
                                </div>
                                <div class="r-txt">
                                    <input maxlength="18" name="userDTO.loginUserDTO.id_no" id="e_cardCode" type="text" class="inptxt w200 color333">
                                </div>
                                <div class="tips">请输入证件号码。</div>
                            </li>
                            <li id="mypasscode1" data-code_type="findpassword" data-touclick-type="inside" style="display: none">
                                <script>var targettype = ['C', 'C', 'C']; var targetdiv = ['mypasscode0', 'mypasscode1', 'mypasscode2']; var targetelement = ['password0', '', 'password'];</script>
                                <script src="/otn/resources/js/newpasscode/new.js" xml:space="preserve"></script>
                            </li>
                            <li>
                                <div class="label">
                                    <span class="required">*</span>
                                    验证码：
                                </div>
                                <div class="yzm" style="padding: 0px">
                                    <input type="text" name="randCode" data-targetdiv="mypasscode1" id="randCode" maxlength="4" class="inptxt w100">
                                    <input type="hidden" id="randCode_validate" name="randCode_validate">
                                    <span class="img" id="img-check">
                                        <img style="width: 100%;height: 100%;cursor: pointer;" src="../images/getPassCodeNew(24).jpg" onclick="refreshImg('other','sjrand')" title="单击刷新验证码" id="img_rand_code">
                                    </span>
                                    <span class="i-re" onclick="refreshImg('findpassword','sjrand')" title="单击刷新验证码"></span>
                                </div>
                                <div class="tips"><span class="icon i-ok i-okmypasscode1" id="i-okmypasscode1" style="display: none;"></span></div>
                            </li>
                            <label id="error_msgmypasscode1" style="display: none;padding-top:3px;margin-top:10px;" class="error error_msgmypasscode1"></label>
                        </ul>
                        <!--
                                        //inside class="lay-btn captchaButton captchaInsideButton"
                                         -->
                        <div class="lay-btn captchaButton captchaInsideButton" style="position:relative;height:auto" data-touclick-name="">
                            <a href="javascript:void(0);" id="email_back_submit" class="btn122s" shape="rect">提交</a>
                        </div>
                        <!-- p class="tc ft14">忘记注册邮箱？试试<a href="javascript:void(0);" id="title_answer_find_back">提示问题找回</a></p -->
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--页面主体  结束-->
    <!-- 新密码设置成功   -->
    <div class="up-box" style="display:none;" id="new_password_set_success">
        <div class="up-box-hd">
            温馨提示<a href="#nogo" id="new_password_set_close" shape="rect">关闭</a>
        </div>
        <div class="up-box-bd">
            <div class="up-con clearfix">
                <span class="icon i-win"></span>
                <div class="r-txt">
                    <div class="tit">新密码设置成功，您可以使用新密码登录系统！</div>
                </div>
            </div>
            <div class="lay-btn">
                <a href="#nogo" class="btn92s" id="new_password_set_ok" shape="rect">确认</a>
            </div>
        </div>
    </div>
    <!--页面底部  开始-->
    <div class="footer">
        <p>
            <a href="#" target="true">关于我们</a>
            |<a href="#" target="true">网站声明</a>
        </p>
        <p>版权所有©2008-2020启航工作室&nbsp;&nbsp;金陵科技学院软件工程学院</p>
        <p>京ICP备10009636号</p>
    </div>
    <!--页面底部  结束-->

    <iframe frameborder="0" class="dhx_modal_cover_ifr" src="javascript:false;" style="display: none; z-index: 0;"></iframe>
    <a href="#" id="_return_top" class="return-top" title="返回顶部" style="display: none; position: fixed; bottom: 30px; right: 30px;"></a>
</body>
</html>

