<!DOCTYPE html>
<html>
<head>
    <title>客运服务 | 公路客户服务中心</title>
    <link href="~/css/common.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/ico/favicon.png">
    <meta name="viewport" content="width=device-width" />
</head>
<body class="dhtmlx_winviewport dhtmlx_skin_dhx_terrace">
    <!--header start-->
    <div class="header">
        <div class="header-bd">
            <h1 class="logo">江苏客运客户服务中心-客运中心</h1>
        </div>
    </div>
    <!--header end-->
    <!--主体 开始-->
    <div class="content">
        <div class="app-down">
            <div class="app-down-bd">
                <h2>家, 就在身边</h2>
                <h3>随时随地，购票轻松快捷！</h3>
                <div class="app-btn">
                    <a href="#" target="_black" class="down_ios">iphone下载</a>
                    <a href="#" class="down_android">Android下载</a>
                </div>
                <div class="app-code">
                    <img src="../images/code.png" width="90" height="90">
                    <span>
                        扫描二维码即可下载<br clear="none">
                        手机客户端
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--主体 结束-->
    <!--页面底部  开始-->
    <div class="footer">
        <p>
            <a href="#" target="true">关于我们</a>
            |<a href="#" target="true">网站声明</a>
        </p>
        <p>版权所有©2008-2020启航工作室&nbsp;&nbsp;金陵科技学院软件工程学院</p>
        <p>京ICP备10009636号</p>
    </div>
    <!--页面底部  结束-->

    <iframe frameborder="0" class="dhx_modal_cover_ifr" src="javascript:false;" style="display: none; z-index: 0;"></iframe>
    <div class="dhx_modal_cover_dv" style="display: none; z-index: 0;"></div>
    <div class="dhx_content_vp_cover" style="display: none;"></div>
    <div class="dhx_carcass_resmove" style="display: none;"></div>
    <a href="#" id="_return_top" class="return-top" title="返回顶部" style="display: none ; position: fixed; bottom: 30px; right: 30px;"></a>
</body>
</html>
